---
import 'style/main.scss';
import Navigation from 'components/Navigation/Navigation';
const currentPage = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>
  <Navigation currentPage={currentPage} />
  <main>
    <slot />
  </main>
</html>
